{% extends "templates/basepage.html" %}
{% block navigator %}
<a  href="#" >群管理</a>
 >> <a href="#">最新RSS群管理</a> >> <a href="javascript:history.back(-1);">后退</a>
{% endblock %}
{% block content %}
<table id="contentList"    border="0" cellpadding=1 cellspacing=1 bgcolor="#D5E3E6" >
<tr bgcolor="#ffffff" height="25">
	<td colspan="11" align="center">
		<form action="/NewRSSAddM" method="post">
            群号：<input type="text" name="groupid" size="25" > <input type="submit" value="添加"></form>
        {%if msg%}<span style="color: red;">{{msg}}</span>{%endif%}
	</td>
</tr>
<tr bgcolor="#ffffff"  height="25">
<td width="80px"  align="center">群号</td>
		<td width="150px" align="center">群名称</td>
		<td width="80px" align="center">群拥有者</td>
		<td width="80px" align="center">群类型</td>
		<td width="80px" align="center">群标签</td>
		<td width="150px" align="center">群公告</td>
		<td width="60px" align="center">帖子数量</td>
		<td width="60px" align="center">置顶帖数量</td>
<td width="100px;">操作</td>
</tr>
{% for content in list%}
<tr style="cursor:hand"  height="25"   onmouseover="cells_color(this,1);" onMouseOut="cells_color(this,2);" bgcolor="#ffffff">
<td align="center">{{content.key().id()}}</td>
<td align="center"><a href="/NoteListM?type=groupid&value={{content.key().id()}}">{{content.name|striptags}}</a></td>
<td>{{content.author}}</td>
<td>{% if content.type==1 %}第一类型{%else%}第二类型{%endif%}</td>
<td align="center">{{content.tagname|striptags}}</td>
<td align="center">{{content.gonggao|striptags}}</td>
<td align="center">{{content.notenum}}</td>
<td align="center">{{content.topnum}}</td>

<td ><a href="/NewRSSDelM?groupid={{content.key().id()}}">从最新RSS中删除</a>
</td>
</tr>

{%endfor%}

</table>
{% endblock %}